only-built-dependencies=@parcel/watcher,@swc/core,esbuild,msw,puppeteer,sharp,unrs-resolver,vue-demi,husky
ignore-scripts=false
side-effects-cache=false
node-linker=hoisted
symlink=false
@next/swc-linux-x64-gnu:built-dependencies=true
@next/swc-linux-x64-musl:built-dependencies=true
sharp:built-dependencies=true
esbuild:built-dependencies=true
@swc/core:built-dependencies=true
